node_modules
.next
.DS_Store
.vscode/
firebase-debug.log
backup-*
.env.local
.env.*.local
.env
.env.*
!.env.example
*.pth
*.pt
docs/batch_test/
docs/batch_test.zip
docs/v1/
*.log
npm-debug.log*
yarn-error.log*
